@import '../../../../../style';

.container{
    @include element-flex(column, center, center);
    @include constant-width;
    width: 100%;
    background: #f5f5f5;
    padding-top: 80px;
    padding-bottom: 80px;
    background: $second-background-color;

    @include  smDesktopWidth{
       padding: 50px 30px;
    }

    @include phoneWidth{
        padding: 30px 20px;
    }
}

.wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;

    @include tabletWidth{
        grid-template-columns: 1fr;
        row-gap: 40px;
    }
}

.title{
    font-size: $font-xl;
    color: $font-dark;
    margin-bottom: 50px;
    text-align: center;

    @include phoneWidth{
        font-size: $font-l;
    }
}