@import '../../../style';

.footer{
    @include element-flex(row, flex-start, center);
    @include constant-width;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 40px;
    position: relative;
    color: rgb(163, 163, 163);
    font-size: $font-xxs;
    overflow: hidden;
    &::after{
        content: '';
        width: 1200px;
        height: 1px;
        background-color: #ccc;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    @include tabletWidth{
        padding: 20px 50px;
        @include element-flex(column, center ,center);
        text-align: center;
    }

    @include tabletWidth{
        padding: 30px 20px;
    }
}