$color-blue: #383F56;
$color-blue-dark: #212E44;
$color-yellow: #F8D6A5;

$color-gray: #E5E5E5;
$color-lighter-gray: #EDEDED;
$color-lightest-gray: #F2F2F2;

$font-light: #F2F2F2;
$font-dark: #2B2B2B;
