@import 'vars';

@mixin constant-width{
	width: 100%;
	padding: 0 calc(50vw - 600px);
	@include smDesktopWidth(){
		padding: 30px 20px;
	}
	@include tabletWidth(){
		padding: 0;
	}
}

@mixin element-flex($direction, $justify, $align) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}

@mixin main-title{
	font-size: $font-xl;
	font-family: $font-ultra;
}

@mixin desktopWidth {
	@media screen and (max-width: $screen-d) {
	  @content;
	}
}

@mixin smDesktopWidth {
	@media screen and (max-width: $screen-sd) {
	  @content;
	}
}

@mixin tabletWidth {
	@media screen and (max-width: $screen-sm) {
	  @content;
	}
}