$font-xxs: 13px;
$font-xs: 16px;
$font-s: 18px;
$font-m: 24px;
$font-l: 33px;
$font-xl: 48px;
$font-xxl: 100px;

$font-nunito: 'Nunito', sans-serif;

$font-ultra: 'Ultra', serif;
$font-prompt: 'Prompt', sans-serif;


$screen-d: 1450px;
$screen-sd: 1240px;
$screen-sm: 1024px;
