$font-s: 14px;
$font-m: 16px;
$font-l: 20px;
$font-xl: 48px;

$font-ultra: 'Ultra', serif;
$font-popins: 'Poppins', sans-serif;
$font-prompt: 'Prompt', sans-serif;


$screen-d: 1450px;
$screen-sd: 1240px;
$screen-sm: 1024px;
