@import '../../../../../style';

.container{
    @include constant-width;
    @include element-flex(column, flex-start, flex-start);
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    z-index: 2;

    @include tabletWidth{
        padding: 50px;
    }

    @include phoneWidth{
        padding: 50px 30px;
    }

}

.title{
    font-family: $font-nunito;
    margin-bottom: 30px;
    font-size: $font-xl;
    color: $font-dark;

    @include phoneWidth{
        text-align: center;
        margin: 0 auto 30px;
        font-size: $font-l;
    }
}

.wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 96px;

    @include tabletWidth{
        grid-template-columns: 1fr;
        row-gap: 50px;
    }
}

.text{
    text-align: justify;
    font-size: $font-s;
    color: $font-dark;
    line-height: 30px;
    letter-spacing: 0.2px;
}